<header>
    <!-- use ejs: params object -->
   <%= site %> 

   <!-- Controller avgör vad som skall skickas ut -->

    <nav>
        <a href="/">Home</a> | <a href="/user">Användare</a> | <a href="/about">Om</a>
    </nav>

</header>
<hr>