<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrera anv채ndare</title>
</head>

<body>

    <!-- include header -->
    <%- include("./partials/header.ejs") %>

        <h1>Registrera anv채ndare</h1>

        <form action="/user/register" method="post">

            <input type="text" name="username" id="username" placeholder="Anv채ndarnamn" required>
            <input type="password" name="password" id="password" required>
            <input type="submit" value="Registera">
            <!-- checkbox - confirm -->

            <span></span>

        </form>


        <script>
            const form = document.querySelector("form");
            form.addEventListener("submit", (event) => {
                event.preventDefault();
                // skicka formul채r data med XMLHttpRequest ^^ eller fetch
                const username = document.querySelector("#username");
                const password = document.querySelector("#password");
                const formContent = {username: username.value, password: password.value};
                // options - set method and content type
                const options = {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(formContent)
                }
                fetch("/user/register", options)
                    .then(response => response.json())
                    .then((data) => {
                        console.log("data", data);
                        document.querySelector("span").textContent = data.message;
                    });
            });
        </script>

</body>

</html>