<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Användare</title>
</head>
<body>
    
    <!-- include header -->
    <%- include("./partials/header.ejs") %>

    <h1>Användare</h1>

    <p>
        Den här webbplatsen hanterar inloggade användare. 
        För att kunna logga in måste du först <a href="/user/register">registrera dig</a>.
    </p>

    <p>
        <a href="/user/login">Logga in</a>
    </p>

    <p>
        <a href="/user/logout">Logga ut</a>
    </p>


</body>
</html>